.cardsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(224, 231, 255, 0.60) 0%, rgba(243, 232, 255, 0.60) 50%, rgba(252, 231, 243, 0.60) 100%);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.90);
    border-bottom: none;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tableWrapper {
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}

.listItem {
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    padding: 10px;
}

.cardsWrapper {
    padding: 20px;
    height: 100%;
}
.cardsInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}